# Xcode
xcuserdata/
DerivedData/
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# Swift Package Manager
.build/
.swiftpm/

# macOS
.DS_Store

# Playgrounds
timeline.xctimeline
playground.xcworkspace

# Local development
.env.local
Config.local.xcconfig
