//
//  SharedConfig.xcconfig
//  TransferList
//
//  Created by Negar Moshtaghi on 8/23/25.
//

// Configuration settings file format documentation can be found at:
// https://developer.apple.com/documentation/xcode/adding-a-build-configuration-file-to-your-project

API_HOST = 69e91c39-9b7c-43f2-af62-743b7deefef2.mock.pstmn.io
